body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #0F172A;
}

#cells{
    width:360px;
    height:360px;
    border:2px solid black;

    display:grid;
    grid-template-columns:repeat(10,1fr);
    grid-template-rows:repeat(10,1fr);

    margin-top:20px;
}

.cell{
  width: 100%;
  height: 100%;
  border: 1px solid #334155;
  background: #1E293B;
}

.wall{
  background: #475569;
  border: 1px solid #334155;
}

.target{
  background:#EF4444;
  border: 1px solid #334155;
}

.box,
.complete {
  position: relative;
  box-sizing: border-box;
  border-radius: 3px;
}

/* Box */
.box {
  background-color: #401906;
  
  background-image:
    linear-gradient(
      45deg,
      transparent 43%,
      #7a4231 44%,
      #7a4231 50%,
      transparent 51%
    ),
    linear-gradient(
      -45deg,
      transparent 43%,
      #7a4231 44%,
      #7a4231 50%,
      transparent 51%
    ); 
  
  border: 6px solid #7a4231;
}

/* Completed box */
.complete {
  background-color: #064011;
  
  background-image:
    linear-gradient(
      45deg,
      transparent 43%,
      #22C55E 44%,
      #22C55E 50%,
      transparent 51%
    ),
    linear-gradient(
      -45deg,
      transparent 43%,
      #22C55E 44%,
      #22C55E 50%,
      transparent 51%
    ); 
  
  border: 6px solid #22C55E;
  
}

.hero{
    background:#2563eb;
    border-radius:50%;
    position:relative;
    box-shadow:0 0 10px rgba(37,99,235,.5);
}

.hero::before,
.hero::after{
    content:"";
    position:absolute;
    width:4px;
    height:4px;
    background:white;
    border-radius:50%;
    top:30%;
}

.hero::before{
    left:28%;
}

.hero::after{
    right:28%;
}

.control{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 450px;
  left: 100px;
}

#up{
  height: 40px;
  width: 40px;
  position: absolute;
  left: 80px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#down{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 80px;
  bottom: 0px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 80px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 80px;
  right: 0px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset{
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 20px;
}

#resetGame{
  background: red;
  position:absolute;
  top: 650px;
  left: 50px;
}

#resetLevel{
  background: yellow;
  position:absolute;
  top: 650px;
  left: 300px;
}

#level{
  color: #fff;

}
