*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #548687;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
#game{
  height: 30vh;
  width: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.box{
  height: 9vh;
  width: 9vh;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 7vh;
  background-color: #ffffc7;
}
#reset-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#winner{
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}